body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Đảm bảo chiều rộng đầy đủ */
}